$color-1: #ffd7d7;
$color-2: #5e627d;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$black: #393b49;
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
.get-friends-container {
  width: 356px;
  background: $color-2;
  border-radius: 20px;
  border: $color-1 solid 2px;
  padding: 15px;

  h4 {
    text-align: center;
    font-size: 1.4rem;
    color: $color-1;
  }
  .icon {
    margin: 16px auto;
    width: 100%;
    text-align: center;
    i {
      font-size: 1.6rem;
      color: $color-3;
    }
  }
  ul {
    width: 100%;
    padding: 14px 0 0;

    .coworkers {
      display: grid;
      grid-template-columns: 20% 50% 30%;
      align-items: center;
      margin: 8px 0;

      img {
        height: 46px;
        width: 46px;
        border-radius: 50px;
        object-fit: cover;
      }
      p {
        text-align: left;
        font-size: 1rem;
      }
      span {
        text-align: center;
        button {
          position: relative;
          right: 30px;
          width: 130px;
          background: $black;
          color: $color-4;
          transition: 0.2s;
          border-radius: 20px;
          border-top: $color-1 solid 2px;
          border-bottom: $color-1 solid 2px;
          font-size: 1rem;

          &:hover {
            border: #fd2d01 solid 0.1px;
            background: $color-4;
            color: $color-2;
          }
        }
      }
    }
  }
}
