$color-1: #ff7b77;
$color-2: #ffd0c4;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$black: rgb(40, 40, 40);
$white: white;
$shadow: rgb(219, 218, 218);

nav {
  color: black;
  position: fixed;
  width: 100%;
  height: 85px;
  border-radius: 6px;
  z-index: 10;
  top: 0;
  h2 {
    width: 65px;
    margin-left: -12px;
    margin-right: 10px;
    color: $color-3;
    background: white;
    font-size: 1rem;
  }
  @media screen and (max-width: 1440px) {
    padding: 0 20px;
  }

  &::after {
    content: "";
    height: 45px;
    width: 110%;
    left: -20px;
    top: 0;
    position: absolute;
    backdrop-filter: blur(3px);
    background: white;
    z-index: -8;
  }

  .nav-container {
    display: flex;
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    justify-content: space-between;
    height: 45px;
    align-items: center;

    .logo {
      margin-left: 47%;
      @media screen and (max-width: 590px) {
        margin-left: 37%;
      }
      img {
        height: 36px;
        width: 166px;
      }
    }

    ul {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      justify-content: space-between;
      font-size: 1.2rem;

      .welcome {
        margin-left: 54.5%;
        transform: translateY(2px);

        @media screen and (max-width: 515px) {
          display: none;
        }
      }

      li {
        img {
          height: 24px;
          width: 24px;
          cursor: pointer;
          display: grid;
          align-items: center;
          justify-items: center;
          height: 100%;
        }
      }
    }
  }
  .icon_log:hover {
    background-color: #ff7b77;
    transform-origin: center;
    transform: scale(1.5);
    transition: 0.2s;
    padding: 5px;
    margin: auto;
    border: 1px solid #4e5166;
    border-radius: 50px;
  }
}

.login-icon {
  position: fixed;
  right: 10px;
  top: 50px;
  padding: 2px;
  color: #fdeeee;
  background: #393b49b1;
  border-radius: 10px;
  border: #fd2d01 solid 1px;
  transform: translateX(250px);
  transition: 0.4s;
  opacity: 0;
}
.log-hover:hover {
  .login-icon {
    opacity: 1;
    transform: translateX(0px);
  }
}
