$color-1: #fd2d01;
$color-2: #ffd7d7;
$color-3: rgba(0, 22, 44, 0.276);
$color-4: #fdeeee;
$black: #393b49;
$white: rgb(253, 253, 253);
$shadow: #eba8a8;
.card-container {
  background: $black;
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid $color-2;
  margin: 10px;
  padding: 16px;
  border-radius: 30px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;

  @media screen and (max-width: 590px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 440px) {
    padding-top: 26px;
  }

  .fa-spinner {
    position: absolute;
    top: 40%;
    left: 49%;
    font-size: 1.5rem;
    color: $color-1;
  }

  .card-left {
    img {
      height: 52px;
      width: 52px;
      border-radius: 50px;
      box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
      object-fit: cover;

      @media screen and (max-width: 590px) {
        height: 40px;
        width: 40px;
        margin-left: 18px;
        border-radius: 50px;
      }
    }
    @media screen and (max-width: 590px) {
      position: absolute;
      transform: translate(17px, 18px);
    }
  }

  .card-right {
    @media screen and (max-width: 590px) {
      margin-left: 18px;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      margin: 2px 0 4px;

      @media screen and (max-width: 590px) {
        margin: 12px 0 14px;
      }

      @media screen and (max-width: 440px) {
        flex-direction: column;
      }

      .pseudo {
        display: flex;

        @media screen and (max-width: 590px) {
          margin-left: 52px;
        }
        @media screen and (max-width: 440px) {
          transform: translateY(-18px);
        }

        span {
          font-size: smaller;
          font-style: normal;
          font-weight: bolder;
          color: $color-2;
          transform: translate(0px, -5px);

          @media screen and (max-width: 440px) {
            margin: 0px 0 -10px;
            padding: 0;
          }
          .follow-text {
            margin-left: 5px;
            position: absolute;
            top: -3px;
            left: 0px;
            opacity: 0;
            transition: 0.3s;
            transform: translateY(20px);
            @media screen and (max-width: 590px) {
              top: 8px;
              left: 5px;
            }
            @media screen and (max-width: 440px) {
              top: -20px;
              left: -80px;
              margin-left: -70px;
            }
          }
          .follow-icon {
            width: 20px;
            &:hover {
              .follow-text {
                opacity: 1;
                left: 115px;
              }
            }
          }
          img {
            cursor: pointer;
            transition: 0.2s;
            box-shadow: none;
            height: 20px;
            width: 20px;
            margin-left: 10px;

            &:hover {
              transform: scale(1.2) translate(0px, 0px);
              background: #2b2d39;
              border: 1px solid $color-2;
              border-radius: 50px;
            }
          }

          .fas {
            color: $color-1;
          }
          .far {
            color: $color-2;
          }
        }
      }
      .follow {
        color: $color-2;
        font-style: normal;
        font-weight: bolder;
        img {
          height: 15px;
          width: 15px;
          object-fit: cover;

          @media screen and (max-width: 440px) {
            height: 37px;
            width: 37px;
          }
        }
        @media screen and (max-width: 640px) {
          display: none;
        }
      }
      span {
        font-style: italic;
        @media screen and (max-width: 440px) {
          transform: translate(52px, -20px);
        }
      }
    }
    p {
      margin: 3px 0 9px;
      font-size: 1.1rem;

      @media screen and (max-width: 440px) {
        margin-top: -18px;
      }
    }
    .update-post {
      textarea {
        height: 45px;
        color: $white;
        font-size: 1rem;
        border: 3px solid $color-2;
        border-left: none;
        border-right: 0.5px solid $color-2;
        padding: 10px;
        padding-left: 20px;
        border-radius: 20px 20px 0px 20px;
      }
      .button-container {
        .btn {
          color: black;
          background: $color-2;
          width: 200px;

          &:hover {
            color: $color-1;
            width: 210px;
            letter-spacing: 0.1px;
          }
        }
      }
    }
    .card-pic {
      width: 100%;
      border-radius: 30px;
      margin-top: 12px;
      box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
    }
    iframe {
      width: 100%;
      min-height: 330px;
      border-radius: 30px;
      box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
    }
    .button-container {
      justify-content: flex-end;
      display: flex;

      div {
        padding: 5px 9px;
        margin-left: 5px;
        background: $color-2;
        border-radius: 50px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }

        img {
          height: 16px;
          width: 16px;
          transform: translateY(3px);
        }
      }
    }
    .card-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      padding: 12px 0 4px;

      img {
        margin-right: 20px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
      .comment-icon,
      .like-container {
        display: flex;
        align-items: center;

        span {
          font-size: 1.02rem;
          position: absolute;
          transform: translate(29px, 2px);
        }
      }
    }
    .comment-container.client {
      margin-left: 25px;
      color: $color-2;
      background: #2b2d39;
      border-left: none;
      border-right: 0.1px solid $color-2;
      border-bottom: 6px solid $color-2;
      border-top: 6px solid $color-2;
      border-radius: 40px 40px 0px 40px;
    }
    .comment-container {
      display: grid;
      grid-template-columns: 50px 1fr;
      background: #4e5166;
      border-left: 0.1px solid $color-2;
      border-bottom: 4px solid $color-2;
      border-top: 4px solid $color-2;
      padding: 15px;
      margin: 5px 0 15px;
      border-radius: 40px 40px 40px 0px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
        object-fit: cover;

        @media screen and (max-width: 440px) {
          height: 37px;
          width: 37px;
        }
      }
      .comment-header {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 510px) {
          flex-direction: column;
        }

        .pseudo {
          display: flex;
          span {
            transform: translateX(8px);
            cursor: pointer;
            img {
              box-shadow: none;
              height: 15px;
              width: 15px;
            }
            .follow-text {
              width: 120px;
              font-style: normal;
              color: $color-2;
              position: absolute;
              left: -120px;
              transition: 0.3s;
              opacity: 0;
            }
            .follow-icon:hover {
              img {
                border-radius: 50px;
                border: #ffd7d7 solid 1px;
              }
              .follow-text {
                left: 10px;
                opacity: 1;
              }
            }
          }
        }

        span {
          font-size: 0.9rem;
          font-style: italic;
        }
      }
      p {
        margin-top: 8px;
      }
      .edit-comment {
        color: $color-2;
        img {
          background: $color-2;
          float: right;
          margin-left: 10px;
          cursor: pointer;
          transition: 0.3s;
          height: 30px;
          width: 30px;
          padding: 3px;

          &:hover {
            transition: 0.2s;
            border: $color-1 solid 2px;
            transform: scale(1.2);
          }
        }

        .edit-comment-form {
          margin-top: 14px;
          label {
            background: $white;
            border: $color-1 solid 1px;
            color: black;
            padding: 5px 15px 5px;
            border-radius: 20px 20px 20px 20px;
            cursor: pointer;
            transition: 0.4s;
            display: inline-block;
            &:hover {
              color: $color-1;
            }
          }
          input[type="text"] {
            margin: 4px 0;
            background: $color-4;
            font-size: 1rem;
            padding: 7px 25px;
            width: 100%;
            border-radius: 50px 50px 50px 0px;
            border-top: #eba8a8 solid 5px;
            border-bottom: #eba8a8 solid 3px;
            border-left: #eba8a8 solid 1.5px;
          }
          .btn {
            display: flex;
            float: right;
            span {
              display: flex;
              border: $color-1 solid 0.6px;
              padding: 5px 1px;
              border-radius: 50px;
              transition: 0.2s;
              cursor: pointer;

              &:hover {
                background: $color-2;
              }

              img {
                transform: translate(-5px, 0);
              }
            }
            input[type="submit"] {
              display: flex;
              background: $color-2;
              color: black;
              width: inherit;
              height: 35px;
              transition: 0.2s;
              &:hover {
                color: $color-1;
              }
            }
          }
        }
      }
    }
    .comment-form {
      margin-top: 6px;

      input[type="text"] {
        margin-left: 30%;
        width: 70%;
        border-top: #eba8a8 solid 4px;
        border-right: #eba8a8 solid 1.5px;
        border-bottom: #eba8a8 solid 4px;
        background: $color-4;
        border-radius: 40px 40px 0 40px;
        padding: 10px 25px 10px;
        font-size: 1rem;

        &:focus {
          box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
        }
      }
      input[type="submit"] {
        margin-top: 4px;
        padding: 7px 16px;
        width: 120px;
        background: $color-2;
        color: black;
        border-radius: 0px 0 20px 20px;
        transition: 0.2s;
        float: right;

        &:hover {
          background: $color-2;
          color: $color-1;
          letter-spacing: 0.5px;
          border-left: $color-1 solid 5.5px;
          border-right: $color-1 solid 5.5px;
        }
      }
      button {
        float: right;
        background: $color-1;
        transition: 0.2s;

        &:hover {
          background: $color-2;
        }
      }
    }
    .like-container {
      span {
        font-size: 1.02rem;
        position: absolute;
        transform: translate(8px, -1px);
      }
    }
    .fa-share-alt {
      transform: translate(0, 2px);
    }
  }
  .update-post {
    textarea {
      width: 100% !important;
      height: 80px;
    }
    .button-container {
      text-align: right;

      button {
        margin: 0;
        margin-left: 5px;
        width: 150px;

        &:nth-child(1) {
          background: $color-1;
        }
      }
    }
  }
}
.popup {
  font-weight: 900;
  color: #4e5166;
  animation: pop 0.5s ease-out forwards;
  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    10% {
      transform: scale(0.1);
      opacity: 0.1;
    }
    20% {
      transform: scale(0.2);
      opacity: 0.2;
    }
    30% {
      transform: scale(0.3);
      opacity: 0.3;
    }
    40% {
      transform: scale(0.4);
      opacity: 0.4;
    }
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    60% {
      transform: scale(0.6);
      opacity: 0.6;
    }
    70% {
      transform: scale(0.7);
      opacity: 0.7;
    }
    80% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    90% {
      transform: scale(0.9);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
