$color-1: #ff7b77;
$color-2: #ffd7d7;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$black: #393b49b1;
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
.left-nav-container {
  position: relative;
  bottom: 57px;

  .icons {
    display: flex;
    position: fixed;
    z-index: 10;

    @media screen and (max-width: 590px) {
      margin: 2px 0 0 -9px;
    }

    .icons-bis {
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 10px;
      p {
        position: relative;
        top: 0px;
        opacity: 0;
        transform: translateX(-90px);
        transition: 0.3s;
      }
      a {
        transition: 0.1s;
        display: inline-block;

        &:before {
          transition: 0.15s ease;
          transform: scale(0);
          transform-origin: center;
          z-index: -10;
          content: "";
          height: 45px;
          width: 45px;
          position: absolute;
          background: $color-4;
          color: $color-3;
          border-radius: 50px;
          border: #ff7b77 solid 1px;
        }

        &:hover {
          transform: scale(1.02);
        }
        &:hover::before {
          transform: scale(1);
          @media screen and (max-width: 590px) {
            background: $color-2;
            height: 34px;
            width: 34px;
          }
        }

        img {
          margin-right: 4px;
          @media screen and (max-width: 590px) {
            height: 34px;
            width: 34px;
          }
        }
      }

      .active-left-nav:hover {
        position: relative;
        p {
          background: $black;
          border-radius: 10px;
          border: #fd2d01 solid 1px;
          padding: 2px;
          transform: translateX(-4px);
          opacity: 1;
        }
      }
    }
  }
}
