$color-1: #ff7b77;
$color-2: #ffd7d7;
$color-3: #393b49;
$color-4: #fdeeee;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
.post-container {
  margin: 0 auto 0;
  padding: 16px 40px;
  border-radius: 20px;
  border: $color-2 solid 2px;
  position: relative;
  background: $color-3;

  i {
    font-size: 1.5rem;
    margin: 20px 0;
    color: $color-3;
  }

  .data {
    position: absolute;
    right: 42px;
    text-align: right;

    @media screen and (max-width: 420px) {
      right: 10px;
    }
    @media screen and (max-width: 380px) {
      display: none;
    }

    span {
      font-weight: bold;
    }
  }

  .user-info {
    margin: 0 auto 12px;
    text-align: center;
    img {
      border-radius: 50px;
      height: 60px;
      width: 60px;
      box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.16);
      object-fit: cover;
    }
    h3 {
      color: $color-1;
    }
  }
  .post-form {
    position: relative;
    margin: 0 auto 0;

    textarea {
      color: $white;
      height: 50px;
      width: 100%;
      font-size: 1rem;
      padding: 15px 25px;
      border-radius: 50px 50px 50px 50px;
      border-top: #ffd7d7 solid 3px;
      border-bottom: #ffd7d7 solid 3px;
    }
    .card-container {
      background: #4e5166;
      border-radius: 20px 20px 0px 20px;

      .card-left {
        text-align: left;
        img {
          @media screen and (max-width: 590px) {
            margin-left: 0;
          }
        }
      }
      .card-right {
        @media screen and (max-width: 590px) {
          margin-left: 0;
        }
        .card-header {
          @media screen and (max-width: 632px) {
            flex-direction: column;
          }
          @media screen and (max-width: 590px) {
            margin: 0;
          }
          .pseudo {
            @media screen and (max-width: 440px) {
              transform: translateY(-8px);
            }
          }
          span {
            @media screen and (max-width: 632px) {
              position: absolute;
              top: 40px;
            }
            @media screen and (max-width: 590px) {
              left: 68px;
            }
            @media screen and (max-width: 440px) {
              font-size: smaller;
              left: 14px;
              top: 60px;
            }
          }
        }
        .content {
          padding: 6px 0;
          p {
            text-align: left;
            margin: 2px 0 6px;
            font-size: 1.1rem;
          }
          img {
            width: 100%;
            border-radius: 6px;
            margin-top: 12px;
          }
          @media screen and (max-width: 632px) {
            margin-top: 20px;
          }
        }
      }
    }
    .footer-form {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;

      .icon {
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 30px;
        transition: 0.2s;
        img {
          position: absolute;
          left: 15px;
          height: 40px;
          width: 40px;
          border-radius: 10px;
          transform: translate(-18px, -1px);
        }
        &:hover {
          transform: scale(1.1);
          .add-img {
            left: -20px;
            opacity: 1;
          }
        }
        .add-img {
          background: $color-3;
          border-radius: 10px;
          border: $color-2 solid 1.5px;
          padding: 0px 4px;
          opacity: 0;
          font-size: 12px;
          width: 110px;
          position: absolute;
          top: 35px;
          left: -140px;
          transition: 0.2s;
        }

        button {
          margin-left: 5px;
          width: 60px;
          height: 35px;
          border-radius: 50px;
          padding: 4px;
          background: $white;
          transition: 0.4s;
          img {
            position: relative;
            top: 0px;
            left: 20px;
            width: 30px;
            height: 30px;
          }
          &:hover {
            background: $shadow;
            border-left: #fd2d01 solid 5px;
            border-right: #fd2d01 solid 5px;
          }
        }

        input {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 7px;
          right: -7px;
          transform: translate(-16px, -3px);
          opacity: 0;
          cursor: pointer;
          &::-webkit-file-upload-button {
            cursor: pointer;
          }
        }
      }
      p {
        margin-top: 1px;
        background: white;
        color: #fd2d01;
        border-radius: 20px;
        border: #fd2d01 solid 1px;
        padding: 1px;
        @media screen and (max-width: 460px) {
          width: 50px;
          height: 30px;
          line-height: 12px;
          font-size: 12px;
        }
      }
      .btn-send {
        display: flex;
        width: 67%;
        .cancel {
          border-radius: 0 0 20px 20px;
          margin-right: 12px;
          background: $white;

          &:hover {
            transition: 0.5s;
            color: #fd2d01;
            background: darken($color: #4e5166, $amount: 25);
          }
        }
        button {
          background: $color-2;
          color: black;
          &:hover {
            color: #fd2d01;
          }
          @media screen and (max-width: 460px) {
            font-size: 1rem;
            margin-top: 3px;
            padding: 8px;
          }
        }
      }
    }
  }
}
