$color-1: #ffd7d7;
$color-2: #5e627d;
$color-3: rgb(0, 22, 44);
$color-4: #393b49;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
.trending-container {
  background: $color-2;
  border-radius: 20px;
  border: $color-1 solid 2px;
  margin-bottom: 14px;
  padding: 15px;
  width: 356px;
  .trending-like {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
      background: $color-1;
      display: flex;
      height: 30px;
      padding: 3px;
      border-radius: 50px;
      border: 1px solid #fd2d01;
    }
  }

  h3 {
    display: flex;
    text-align: center;
    font-size: 1.4rem;
    color: $color-1;
    margin-bottom: 12px;
  }
  ul {
    li {
      margin: 12px 0;
      display: grid;
      align-items: center;
      grid-template-columns: 68px 1fr;
      background: $color-4;
      border-radius: 15px;
      padding: 16px;
      border: #393b49 0.2px solid;
      transition: 0.3s;

      &:hover {
        background-color: lighten($color: #393b49, $amount: 10);
        border: $color-4 solid 0.2px;
        img {
          border: $color-4 solid 2px;
        }
      }

      div {
        height: 50px;
      }

      img,
      iframe {
        height: 50px;
        width: 50px;
        border-radius: 10px;
        object-fit: cover;
        border: $color-1 solid 0.5px;
      }
      .trend-content {
        position: relative;
        height: 50px;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
        span {
          color: $color-1;
          position: absolute;
          right: 0px;
          bottom: -14px;
          img {
            height: 20px;
            width: 20px;
            padding-top: 5px;
            border: none;
          }
        }
      }
    }
  }
}
