$color-1: #ffd7d7;
$color-2: #fd2d01;
$color-3: #393b49b1;
$color-4: #fdeeeea9;
$black: #4e5166;
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
.home {
  // display: flex;
  // width: 80%;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;

  @media screen and (max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px;
  }

  @media screen and (max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .main {
    .home-header {
      margin: 0 auto 12px;
      text-align: center;

      .connection-form {
        background: #5e627d;
        border-radius: 30px 30px 30px 30px;
        border: #ffd7d7 2px solid;
        padding: 20px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 20px;
            border: lighten($color: #fd2d01, $amount: 15) solid 1px;
            padding: 12px 14px;
            transition: 0.4s;
            margin: 0 8px;
          }
          .active-btn {
            background: $color-3;
            &:hover {
              color: $black;
              background: $color-1;
            }
          }
          li:not(.active-btn) {
            &:hover {
              color: $black;
              background: $color-1;
            }
          }
        }
        form {
          input {
            background: $white;
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            border-radius: 15px;
            border: lighten($color: #fd2d01, $amount: 15) solid 1px;

            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type="submit"] {
            color: $color-3;
            font-size: smaller;
            font-weight: bold;
            padding: 14px 14px;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .right-side {
    position: relative;
    width: 100%;
    margin: 0px 0 0 14px;

    @media screen and (max-width: 990px) {
      display: none;
    }

    .right-side-container {
      position: fixed;
    }
  }
}
